
.card {
    border-radius: 0.5rem;
  }
  
  .btn-primary {
    background-color: #3b5998;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary:hover {
    background-color: #2e4481;
  }
  
  .card-footer {
    background-color: white;
    border-top: none;
  }
  

  .admin-sync {
    display: flex;
    flex-direction: column; 
    font-size: x-small;
  }
  
  .sync-type {
    align-self: flex-end;
  }

  .success-tick {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #5ee15e;
    border-radius: 50%;
    background-color: #5ee15e;
    color: white;
    font-size: 16px;
    margin-left: 0.3rem;
}